<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Index.php" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="rule 1I">
          <conditions logicalGrouping="MatchAny">
            <add input="{URL}" pattern="^.*\.(ashx|axd|css|gif|png|jpg|jpeg|js|flv|f4v|svg|ttf|otf|map|woff|woff2|pdf|doc|docx|mp4|ppt|pptx|xls|xlsx)$" negate="true" />
          </conditions>
          <match url="(.*)/(.*)" />
          <action type="Rewrite" url="Index.php?controller={R:1}&amp;action={R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\rrhh-ingenia.com.mx\tmp" />
  </system.web>
</configuration>